# Practical Python Specialized Bioinformatics

#### 24/01/2023

For this exam you are asked to complete the Python code between the 

```
#start code here

#end code here
```

comments. 

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository. 

Please write your name and studentnumber in the text box below:

### Name: Britt Dierck

### Number: 01909781

### Total points:    / 25

In [1]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

**question 1 (2pts)**

Create a Pandas DataFrame called `patients` that looks like this:

|           | gene_1 | gene_2 |
|-----------|--------|--------|
| patient_1 | 0.54   | 0.32   |
| patient_2 | 0.66   | 0.10   |

In [8]:
#start code here

data=[["patient_1",0.54, 0.32],["patient_2",0.66,0.10]]

patients =pd.DataFrame(data,columns=["","gene_1","gene_2"])

#end code here

patients

              gene_1  gene_2
0  patient_1    0.54    0.32
1  patient_2    0.66    0.10

**question 2 (1pt)**

Use the Pandas DataFrame `.head()` function to print the first row of the `patients` DataFrame.

In [59]:
#start code here
patients.head(1)
#end code here

              gene_1  gene_2
0  patient_1    0.54    0.32

The following code loads the dataset we will use for this exam.

In [13]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 3 (1pt)**
    
Print the number of rows and columns in the `dataset` DataFrame.

In [41]:
#start code here

print(dataset.shape)
#print("Number of rows = {}".format()
#print("Number of columns = {}".format()

#end code here

(569, 31)

**question 4 (1pt)**

Print the column `label` from the `dataset` DataFrame. Don't use `.loc` or `.iloc`.

In [24]:
#start code here
print(dataset["label"])
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 5 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.loc`.

In [37]:
#start code here
dataset.loc[:, "label"]
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 6 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.iloc`.

In [39]:
#start code here
dataset.iloc[:, 30]
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 7 (1pt)**

Print the label of the third row in the `dataset` DataFrame.

In [42]:
#start code here
dataset.label[2]
#end code here

0

**question 8 (1pt)**

Print the subset of the `dataset` DataFrame that only contains the columns in the Python list `cols_to_print`. You have to use the `cols_to_print` list in the code that creates the subset.

In [45]:
cols_to_print = ['mean area','mean concavity','mean symmetry','label']

#start code here
datasub = dataset.loc[:, cols_to_print]
print(datasub)
#end code here

     mean area  mean concavity  mean symmetry  label
0       1001.0         0.30010         0.2419      0
1       1326.0         0.08690         0.1812      0
2       1203.0         0.19740         0.2069      0
3        386.1         0.24140         0.2597      0
4       1297.0         0.19800         0.1809      0
..         ...             ...            ...    ...
564     1479.0         0.24390         0.1726      0
565     1261.0         0.14400         0.1752      0
566      858.1         0.09251         0.1590      0
567     1265.0         0.35140         0.2397      0
568      181.0         0.00000         0.1587      1

[569 rows x 4 columns]

**question 9 (2pts)**

Print all the rows in the `dataset` DataFrame with `mean symmetry` > 0.2 and `label` equal to 1.

In [51]:
#start code here

#end code here

**question 10 (2pts)**

Print the median of the `area error` column in `dataset` for all rows with `label` equal to 1.

In [ ]:
#start code here

#end code here

**question 11 (3pts)**

Create a Pandes Series called `mean_area_ordinal` that, for each row in `dataset`, contains the value `low` if the value for `mean area` is within [0,420[, the value `middle` if the value for `mean area` is within [420,550[ and the value `high` if the value for `mean area` is larger of equal to 550. Use the `.apply()` function.

In [ ]:
#start code here
    
#end code here

print(mean_area_ordinal)

**question 12 (1pt)**

Write one line of code that shows how many datapoints in `mean_area_ordinal` have value `high`, how many have value `middle` and how many have value `low`.

In [ ]:
#start code here

#end code here

**question 13 (2pts)**

To prepare for Scikit-learn model fitting we need to keep the feature vectors and the label separate. Create a variable `X` that contains all the 30 features in `dataset` and a variable `y` that contains the label.

In [54]:
#start code here

X = dataset.iloc[:, :30]
y = dataset.label

#start code here

print(X.shape)
print(y.shape)

(569, 30)
(569,)

**question 14 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [55]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm = StandardScaler().fit_transform(X)

#start code here

print(X_norm)

[[ 1.09706398 -2.07333501  1.26993369 ...  2.29607613  2.75062224
   1.93701461]
 [ 1.82982061 -0.35363241  1.68595471 ...  1.0870843  -0.24388967
   0.28118999]
 [ 1.57988811  0.45618695  1.56650313 ...  1.95500035  1.152255
   0.20139121]
 ...
 [ 0.70228425  2.0455738   0.67267578 ...  0.41406869 -1.10454895
  -0.31840916]
 [ 1.83834103  2.33645719  1.98252415 ...  2.28998549  1.91908301
   2.21963528]
 [-1.80840125  1.22179204 -1.81438851 ... -1.74506282 -0.04813821
  -0.75120669]]

**question 15 (1pt)**

What does the following code do? What is in `X_train`, `X_test`, `y_train` and `y_test`?

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

X_train is the subset that contains the data with which we will train the logistic model

X_test is the subset that contains the data with which we will test the logistic model (how good it is fitted)

y_train contains the labels for the train data in X_train

y_test contains the labels for the test data in X_test

**question 16 (2pts)**

Use the training set to compute the opimal values for the modelparameters in a Logistic Regression model (with hyperparameter `random_state` set to 1, all other hyperparameter values should be set to their Scikit-learn default values).

In [57]:
from sklearn.linear_model import LogisticRegression

#start code here
lr_model = LogisticRegression()
lr_model.fit(X_train,y_train)
#end code here

LogisticRegression()

**question 17 (2pts)**

Given the fitted model, compute predictions on the test set and compute the Area Under the Receiver Operating Characteristic curve (AUC) for these predictions.

In [58]:
from sklearn.metrics import roc_auc_score

#start code here

predictions = lr_model.predict(X_test)
score_auc = roc_auc_score(y_test,predictions)

#end code here

print(score_auc)

0.9637980311209908